*.iml 
.gradle 
/local.properties .DS_Store 
/build 
/captures .externalNativeBuild .cxx local.properties
/.idea/.name
/.idea/appInsightsSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/caches 
/.idea/libraries 
/.idea/modules.xml 
/.idea/workspace.xml 
/.idea/navEditor.xml 
/.idea/assetWizardSettings.xml 
/.idea/AndroidProjectSystem.xml 
/.idea/misc.xml 
/.idea/gradle.xml 
/.idea/inspectionProfiles.xml 
/.idea/vcs.xml 
/.idea/runConfigurations.xml
/.idea/inspectionProfiles/Project_Default.xml
